@import "checkmark.css";
@import "offline_info.css";
@import "crafting_info.css";
@import "enchanting_info.css";
@import "spinner.css";

.marketplace-offer-low {
    background-image: linear-gradient(270deg, rgba(0, 128, 0, .938), rgba(0, 128, 0, 0) 70%);
}
.marketplace-offer-medium {
    background-image: linear-gradient(270deg, rgba(128, 128, 0, .938), rgba(128, 128, 0, 0) 70%);
}
.marketplace-offer-high {
    background-image: linear-gradient(270deg, rgba(128, 0, 0, .938), rgba(128, 0, 0, 0) 70%);
}

.marketplace-own-listing.marketplace-offer-low {
    background-image: linear-gradient(70deg, rgba(0, 128, 0, .938), rgba(0, 128, 0, 0) 70%), linear-gradient(270deg, rgba(0, 128, 0, .938), rgba(0, 128, 0, 0) 70%)
}
.marketplace-own-listing.marketplace-offer-medium {
    background-image: linear-gradient(70deg, rgba(0, 128, 0, .938), rgba(0, 128, 0, 0) 70%), linear-gradient(270deg, rgba(128, 128, 0, .938), rgba(128, 128, 0, 0) 70%);
}
.marketplace-own-listing.marketplace-offer-high {
    background-image: linear-gradient(70deg, rgba(0, 128, 0, .938), rgba(0, 128, 0, 0) 70%), linear-gradient(270deg, rgba(128, 0, 0, .938), rgba(128, 0, 0, 0) 70%);
}

.marketplace-offer-price-tooltip{
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: -70%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0s ease 0s;
    z-index: 1000;
}

.marketplace-offer-price {
    position: relative;
}

.marketplace-offer-price:hover .marketplace-offer-price-tooltip{
    visibility: visible;
}

.highlight {
    border: 3px solid white;
}

.tooltip{
    display: none
}

.tooltip:hover{
    display: block;
    position: absolute;
    z-index: 10;
    width: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    top: -30px;
    left: -30px;
    opacity: 0.9;
}

.text-green {
    color: rgb(0, 128, 0);
}

.text-red {
    color: rgb(128, 0, 0);
}

.fill-yellow {
    fill: rgb(255, 255, 0);
}

.fill-none {
    fill: none;
}

.invisible {
    display: none;
}
