body .farming-info > p {
    max-height: unset;
}

body .farming-seed-settings {
    position: unset;
}

body .farming-seeds .all-items {
    grid-template-areas: "seed-header-mysterious seed-header-mysterious seed-header-mysterious seed-header-mysterious"
                         "seed-header-mysterious-border seed-header-mysterious-border seed-header-mysterious-border seed-header-mysterious-border"
                         "mysterious-seed-1x1 mysterious-seed-2x1 mysterious-seed-3x1 mysterious-seed-4x1"
                         "mysterious-seed-1x2 mysterious-seed-2x2 mysterious-seed-3x2 mysterious-seed-4x2"
                         "mysterious-seed-1x3 mysterious-seed-2x3 mysterious-seed-3x3 mysterious-seed-4x3"
                         "mysterious-seed-1x4 mysterious-seed-2x4 mysterious-seed-3x4 mysterious-seed-4x4"
                         "seed-header-single seed-header-single seed-header-single seed-header-single"
                         "seed-header-single-border seed-header-single-border seed-header-single-border seed-header-single-border"
                         "carrot-seed potato-seed wheat-seed tomato-seed"
                         "mushroom-spore sugarcane-seed chili-pepper-seed rice-seed"
                         "pumpkin-seed peppercorn-seed . ."
                         "seed-header-multi seed-header-multi seed-header-multi seed-header-multi"
                         "seed-header-multi-border seed-header-multi-border seed-header-multi-border seed-header-multi-border"
                         "wildberry-bush-seed sageberry-bush-seed tree-seed oak-tree-seed"
                         "willow-tree-seed banana-tree-seed apple-tree-seed maple-tree-seed"
                         "yew-tree-seed elder-tree-seed . .";
    grid-template-columns: repeat(4, 60px);
    max-height: unset;
}

.seed-header-mysterious {
    grid-area: seed-header-mysterious;
}

.seed-header-mysterious-border {
    grid-area: seed-header-mysterious-border;
}

.seed-header-single {
    grid-area: seed-header-single;
}

.seed-header-single-border {
    grid-area: seed-header-single-border;
}

.seed-header-multi {
    grid-area: seed-header-multi;
}

.seed-header-multi-border {
    grid-area: seed-header-multi-border;
}

.fake-item {
    height: 60px;
    width: 60px;
    border: 1px solid gray;
    border-radius: 8px;
}
