.favorite-highlight {
    border: 3px solid white;
}

/* identical to vanilla .marketplace-refresh-button */
.marketplace-favorite-button {
    margin-top: 8px;
    color: #fff;
    height: 45px;
    width: 100px;
    background: linear-gradient(180deg,rgba(72,85,99,.8431372549019608),rgba(41,50,60,.6039215686274509));
}

.marketplace-favorite-button.is-favorite {
    fill: rgb(255, 255, 0);
}

.marketplace-favorite-button:not(.is-favorite) {
    fill: none;
}

.marketplace-favorite-button.is-favorite > span {
    display: none;
}
