@import "toggle.css";

body {
    width: 350px;
}

.icon {
    height: 1rem;
    width: 1rem;
}

.table-container {
    text-align: center;
    clear: both;
}

#update-table {
    width: 100%
}

.action{
    cursor: pointer;
}

#no-items {
    display: none;
    text-align: center;
}
