.theme-smithing .resource-list {
    grid-template-columns: repeat(auto-fill, 300px);
}

.theme-smithing .resource-wrapper {
    position: unset;
    height: unset;
    width: unset;
    overflow: unset;
}

.theme-smithing .resource-container {
    min-width: 100%;
    width: min-content;
    height: unset;
}

.theme-smithing .resource-required-resources {
    position: unset;
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: min-content;
    float: left;
    justify-content: flex-end;
}

.theme-smithing .resource-property {
    width: fit-content;
    margin-top: 3px;
    margin-bottom: unset;
}

.theme-smithing .resource-container-image {
    height: 6rem;
    margin: 0 5px 5px 0;
    float: right;
}

.theme-smithing .resource-container-progress[aria-valuenow="0"] {
    display: none;
}

.theme-smithing .resource-container-button {
    position: unset;
}

.smithing-info-table {
    display: grid;
    /* Grid Layout specified by js */
    grid-gap: 3px;
    margin: 5px;
    padding: 5px;
    background-color: rgba(66, 66, 66, .2);
    border: 2px solid rgba(99, 99, 99, .2);
    border-radius: 10px;
    clear: both;
    font-size: 13px;
}

.smithing-info-table-content {
    text-align: center;
    margin: auto;
    display: flex;
}

.smithing-info-table-content:first-child {
    grid-column: 2;
}

.smithing-item-resource-icon {
    height: 16px;
    padding-right: 2px;
}
